body{
    background-color: var(--main-color);
    overflow-x: hidden;
    margin: 0px;
}

::selection { background: var(--selection-color); }

footer{
   width:100%;
   background:var(--complementary1);
   color:var(--font-color);
   text-align:center;
   padding:1rem 0;
   position:static;
   bottom: 0%;
   margin-top: 10.7vh;
}

nav a{
user-select: none;
}

a{
    text-decoration: none;
    color: var(--font-color);
}
.fontc2{
    color: var(--font-color2);
}


.hheader{
    background-color:  var(--complementary1);
    height:  120px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:var(--font-color)
}

input{
background-color: var(--complementary1);
border-color: white;
border-style: solid;
color: white;
}

#num{
    position: relative;
    bottom: -15px;
    left:-10px;
    height: 50px;
    width: 80px;
}
#btn{
    position: relative;
    bottom: -15px;
    left: 20px;
    height: 55px;
    width: 100px;
}
.wizytowka{
    position: absolute;
    max-width: 300px;
    color: #5D4037;
    margin: auto auto 70px 70px;
    padding-bottom: 60px;
    text-align: center;
    box-shadow: 2px;
}

.ico{
display: flex;
height: 50px;
width: 50px;
align-items: center;
justify-content: center;
border-radius: 100%;
background-color: rgb(255,255,255);
margin-left: 20px;
}

.menuob{
    margin-right: 1.5rem;
    user-select: none;
}
.icon{
    font-size: 1.7rem;
}
.menuob:hover{
    text-decoration-line: underline;
}
.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.backbutton{
        width: 100%;
        padding: 1rem;
        background-color: var(--main-color);
        color: var(--font-color);
        border: none;
        font-size: 1.2rem;
        cursor: pointer;
        border-radius: 15px;
}


        html::-webkit-scrollbar {
            width: 16px;
        }

        html::-webkit-scrollbar-track {
            border-radius: 8px;
            background-color: var(--complementary5);
            border: 1px solid var(--complementary4);
        }

        html::-webkit-scrollbar-thumb {
            border-radius: 8px;
          border: 3px solid transparent;
           background-clip: content-box;
            background-color: var(--complementary1);
        }

.ico img{
    height: 25px;
     width: auto;
}

.main-content {
    padding: 1.5rem;
    color: var(--font-color);
}

.main-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.main-description {
    margin-top: 1rem;
    color: var(--font-color);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.grid-item {
    width: 100%;
    height: 10rem;
    background-color: #6666664a;
    color: var(--font-color);
    border: 5px solid var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.grid-item:hover {
    background-color: var(--complementary2);
    cursor: pointer;
}

.c5body {
    background-color: var(--complementary5);
    }
.c4body {
    background-color: var(--complementary4);
    }
.c3body {
        background-color: var(--complementary3);
        }
.c2body {
        background-color: var(--complementary2);
        }
.c1body {
    background-color: var(--complementary1);
}

.pointspan{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}