:root{
    --main-color:              #d3101f;
    --complementary1:          #ee1929;
    --complementary2:          #f03342;
    --complementary3:          #f24d5a;
    --complementary4:          #f46873;
    --complementary5:          #f68991;
    --font-color:#fff;
    --font-color2: #000;
                --selection-color: #f4182a;

    }