:root{
    --main-color:              #f02d00;
    --complementary1:          #ff4014;
    --complementary2:          #ff5731;
    --complementary3:          #ff6e4d;
    --complementary4:          #ff6e4d;
    --complementary5:          #ff6e4d;
    --font-color:#fff;
    --font-color2: #000;
    --selection-color: #f02d00;
    }