:root{
    --main-color:              #faae00;
    --complementary1:          #ffbb1e;
    --complementary2:          #ffc33b;
    --complementary3:          #ffcc57;
    --complementary4:          #ffd573;
    --complementary5:          #ffdf97;
    --font-color:#fff;
    --font-color2: #000;
    --selection-color: #fac000;
    }