:root{
    --main-color:              #209020;
    --complementary1:          #26ad26;
    --complementary2:          #2cc42c;
    --complementary3:          #39d339;
    --complementary4:          #50d850;
    --complementary5:          #6ddf6d;
    --font-color:#fff;
    --font-color2: #000;
    --selection-color: #04e000;
    }