:root{
    --main-color:              #00ecef;
    --complementary1:          #1efcff;
    --complementary2:          #4cfdff;
    --complementary3:          #7afdff;
    --complementary4:          #a8feff;
    --complementary5:          #e1ffff;
    --font-color:#fff;
    --font-color2: #000;
    }