:root{
    --main-color:              #e06005;
    --complementary1:          #fa700e;
    --complementary2:          #fa812a;
    --complementary3:          #fb9146;
    --complementary4:          #fba262;
    --complementary5:          #fcb684;
    --font-color:#fff;
    --font-color2: #000;
        --selection-color: #faa000;
    }