:root{
    --main-color:              #00f050;
    --complementary1:          #14ff62;
    --complementary2:          #31ff75;
    --complementary3:          #4dff88;
    --complementary4:          #69ff9b;
    --complementary5:          #8dffb3;
    --font-color:#fff;
    --font-color2: #000;
    --selection-color: #00ff77;
    }