:root{
    --main-color:              #ba25dc;
    --complementary1:          #c443e1;
    --complementary2:          #cb5ce5;
    --complementary3:          #d374e9;
    --complementary4:          #db8ded;
    --complementary5:          #e4abf2;
    --font-color:#fff;
    --font-color2: #000;
                --selection-color: #c62ae9;
    }