:root{
    --main-color:              #70f005;
    --complementary1:          #82fa1e;
    --complementary2:          #92fb3a;
    --complementary3:          #a1fb56;
    --complementary4:          #b0fc71;
    --complementary5:          #c4fd94;
    --font-color:#fff;
    --font-color2: #000;
    --selection-color: #70f005;
    }