:root{
    --main-color:              #0089ef;
    --complementary1:          #139bff;
    --complementary2:          #30a7ff;
    --complementary3:          #4cb3ff;
    --complementary4:          #68bfff;
    --complementary5:          #e1f2ff;
    --font-color:#fff;
    --font-color2: #000;
        --selection-color: #37d7ff;
    }