:root{
    --main-color:              #9428dc;
    --complementary1:          #a84fe2;
    --complementary2:          #bb77e9;
    --complementary3:          #cf9eef;
    --complementary4:          #e3c6f6;
    --complementary5:          #f3e4ff;
    --font-color:#fff;
    --font-color2: #000;
            --selection-color: #b545ff;
    }