:root{
    --main-color:              #00f07a;
    --complementary1:          #14ff8c;
    --complementary2:          #31ff99;
    --complementary3:          #4dffa7;
    --complementary4:          #69ffb5;
    --complementary5:          #8dffc7;
    --font-color:#fff;
    --font-color2: #000;
        --selection-color: #00ff99;
    }