    #game-container {
            width: 800px;
            height: 540px;
            border: 2px solid black;
            margin: 20px auto;
            position: relative;
        }
    canvas {
            display: block;
    }
    .score,
    .target-word {
            text-align: center;
            padding: 10px;
            font-size: 20px;
    }

    .score{
            margin-top: -60px;
    }